<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body class="flex-wrapper">
        <h1>Friends List</h1>

        <% if (typeof friends !=='undefined' && friends.length> 0) { %>
            <div class="friends-container">
                <% for (let friend of friends) { %>
                    <div class="friend-card">
                        <p><b>Username:</b>
                            <%= friend.username %>
                        </p>
                        <% if (friend.friendUserId) { %>
                            <p><a href="/friends/<%= friend.friendUserId %>/list">View <%= friend.username %>'s Friends</a></p>
                        <% } %>
                        <form action="/viewFriendsWishlist">
                            <input type="hidden" name="friendId" value="<%= friend.friendUserId %>">
                            <button type="submit">View Friend's Wishlist</button>
                        </form>
                    </div>
                <% } %>
            </div>
            <% } else { %>
                <p>You currently have no friends added.</p>
            <% } %>

        <%- include('partials/footer') %>
    </body>

</html>