<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body class="flex-wrapper">
        <h1><%= viewingFriendUsername %>'s Friends</h1>

        <% if (typeof friends !=='undefined' && friends.length> 0) { %>
            <div class="friends-container">
                <% for (let friend_of_friend of friends) { %>
                    <div class="friend-card">
                        <p><b>Username:</b>
                            <%= friend_of_friend.username %>
                        </p>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <p><%= viewingFriendUsername %> has no friends to display.</p>
        <% } %>
        <br>
        <p><a href="/friends">Back to Your Friends List</a></p>
        <%- include('partials/footer') %>
    </body>

</html>